<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <title>Title</title>
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/layui/css/layui.css" rel="stylesheet" />
    <link href="/static/css/header.css" rel="stylesheet"  />
    <script src="/static/js/jquery-3.3.1.min.js"></script>
</head>
<body>
<!--header-->


</div>
<!--header-end-->

</body>
</html>